DATABASE_HOST=ep-royal-river-atmmb9nc.c-9.us-east-1.aws.neon.tech
DATABASE_PORT=5432
DATABASE_USER=neondb_owner
DATABASE_PASSWORD=npg_0umB2HtokvVc
DATABASE_NAME=neondb
DATABASE_URL=postgresql://neondb_owner:npg_dT69lmzEwxqy@ep-damp-river-apjiinon-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
PORT=3002

# Cloudinary
CLOUDINARY_CLOUD_NAME=da4whrjij
CLOUDINARY_API_KEY=446895884627246
CLOUDINARY_API_SECRET=chKbkFUNyy-K5-fjOLfPCZeAZfE

#jwt secret
JWT_SECRET= my_work_project

# Token expiry (e.g. 1d, 7d, 24h)
TOKEN_EXPIRY=1d